.submit-btn{
  align-items: center;
}

.input-form{
  width: 80%;
  label {
    #question {
      color: $card-body;
    }
  }
}

.q-image {
  max-height: 300px;
}

#empty-div{
  height: 38px;
}

#random-button {
  background-color: $card-body;
  border: 1px solid $card-body;
  transition: all 300ms ease-in-out;
}

#random-button:hover{
  background-color: $text;
  border: 1px solid $text;
}