.answers-container:first-child {
  background: blue;
}

.answer-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.answer-text {
  width: 35%;
  display: flex;
  align-items: center;
}
.answer-container:first-of-type {
  font-weight: 700;
  font-size: 1em;

  .answer-bar:first-of-type {
    border-radius: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-image: repeating-linear-gradient(
      -45deg,
      lighten($card-body, 10%),
      lighten($card-body, 30%),
      lighten($card-body, 10%),
      $card-body 1rem,
      $card-body 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 30s linear infinite;
  }
}

.answer-bar {
  border-radius: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: $card-body;

  height: 20px;
}

.answer-container-right {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  align-items: center;
  p {
    position: relative;
    left: -2em;
    margin-right: 1%;
    width: 0;
    overflow: visible;
    text-align: right;
    font-size: 1em;
  }
}

.vote {
  width: 50px;
  height: 50px;
  background: none;
  color: inherit;
  margin-left: 1%;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
}

.hide {
  display: none;
}

.voted {
  background-image: url('../../images/vote.svg');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

.answer-container:hover {
  cursor: pointer;

  .vote {
    position: relative;
    background-image: url('../../images/vote.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  .voted {
    position: relative;
    background-image: url('../../images/remove_vote.svg');
  }
}

#add-answer-form {
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;

  input {
    border: none;
    width: 20%;
    margin-right: 2%;
    height: 50px;
  }

  input:hover {
    border: 1px solid black;
  }

  ::placeholder {
    text-decoration: underline;
  }

  button {
    height: 50px;
    margin: 0;
    font-size: 0.9em;
    width: 100px;
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

p {
  margin: 0;
}

@media (max-width: 768px) {
  .answer-text {
    width: 50%;
  }
  #add-answer-form input {
    width: 50%;
  }

  .answer-container-right {
    width: 50%;
  }

  #home-hero-container-left {
    width: 100% !important;
  }

  #home-hero-container-right {
    width: 100% !important;

    img {
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      ) !important;
    }

    // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  .hero-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}
// @media (max-width: 768px) {
//   * {
//     background-color: red;
//   }
// }
