.slide {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    height: fit-content;
  }
}

.slide-question {
  height: 100px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  border-radius: 5px;
  margin: 1px;
  transition: transform 0.2s; /* Animation */
}

.slide-question:hover {
  transform: scale(1.5);
}

.slide-text {
  padding: 0px 10px;
  width: 90%;
  height: 50%;
  font-weight: 700;
  background-color: rgba($color: $card-header, $alpha: 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 3px;
}

.carousel-control-prev {
  width: 30px;
  height: 100px !important;
  background-color: black;
  margin: auto 0;
}

.carousel-control-next {
  width: 30px;
  height: 100px !important;
  background-color: black;
  margin: auto 0;
}

.carousel-inner {
  overflow: visible;
}
