.button-text {
  width: 100%;
  height: 50px;
  text-align: left;
  #add-question {
    color: white;
  }
}

.btn-q {
  background-color: white;
}

.btn-q:hover {
  .links {
    color: white;
  }
}

#search-term {
  color: darkred;
}

.links {
  text-decoration: none;
  color: #555555;
}