#search-term {
  color: $nav;
}

#add-q {
  border: 1px solid $nav;
  border-radius: 10px;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 0 40px 40px $nav inset, 0 0 0 0 $nav;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#add-q:hover {
  box-shadow: 0 0 10px 0 $nav inset, 0 0 10px 4px $nav;
  color: $text;
}

#add-q-nologin {
  border: 1px solid #666666;
  border-radius: 10px;
  color: #fff;
  height: 50px;
  text-decoration: none;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 0 40px 40px #666666 inset, 0 0 0 0 #666666;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#add-q-nologin:hover {
  box-shadow: 0 0 10px 0 #666666 inset, 0 0 10px 4px #666666;
  color: $text;
}


a {
  text-decoration: none;
}

// .third {
//   border-color: #3498db;
//   color: #fff;
//   box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
//   -webkit-transition: all 150ms ease-in-out;
//   transition: all 150ms ease-in-out;
// }
// .third:hover {
//   box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
// }



.q-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.q-container {
  width: 300px;
  margin: 10px;
}

.q-image-container {
  position: relative;
  text-align: center;
  transition: transform 0.3s;
}

.q-image-container:hover {
  transform: scale(1.2);
  z-index: 2;
}

.q-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  color: white;
  padding: 15px;
  height: 60px;
  text-align: center;
}
