#navbar-bg {
  background: linear-gradient(-45deg, $text, $card-header, $nav, $card-body, $bg);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


#title {
  font-size: 24px;
}

.nav-links {
  text-decoration: none;
  color: white; 
}

#title:hover {
  color: $bg;
  border-bottom: 3px solid $card-body;
}

.end-links:hover{
  color: $bg;
  border-bottom: 3px solid $card-body;
}

.navbar-container {
  padding: 10px;
}

.navbar-image {
  margin-right: 10px;
}

.dropdown-content {
  min-width: 270px;
  background-color: white;
  position: absolute;
  z-index: 100;
  flex-wrap: wrap;
  border: 1px solid $nav;
  border-radius: 5px;
  
}

.search-results {
  display: block;  
  padding: 5px 10px 5px 10px;
  color: $text;
  z-index: 1;
  border-bottom: 1px solid $bg;
}

.search-results:hover{
  background-color: $bg;
  color: $text;
}

.search-item-container{
  display: flex;
  flex-direction: row;
}

.search-img{
  height: 50px;
  width: 100px;
  object-fit: cover;
}

.search-text{ 
  margin-left: 10px;
  .category-text{
    font-size: 12px;
    color: #777777;
  }
}


@media (max-width: 768px) {
  .navbar-vertical.show {
    flex-direction: column;
    .dropdown-content {
      margin-top: 5px;
    }
    .nav-items {
      align-content: space-between;
      .nav-end{
        align-self: flex-end;
      }
    } 
  }
}

@media (min-width: 768px) {
  .navbar-vertical {
    .search-nav {
      margin-top: -40px;
    }
  }
}