// bootstrap
@import '~bootstrap/scss/bootstrap';

// components
@import './components/forms';
@import './components/siteNavBar';
@import './components/questions';

* {
  box-sizing: border-box;
}

.home-heading-container {
  display: flex;
}

.home-header {
  color: blue;
}

.main {
  padding: 30px;
}

.list-group-item {
  border-radius: 30px;
  margin: 10px;
}

.answer-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 5px;
}

.answer-text {
  width: 20%;
  display: flex;
  align-items: center;
}

.answer-bar {
  border-radius: 30px;
  text-align: right;
  background-image: repeating-linear-gradient(
    -45deg,
    #0e0e9e,
    #0e0e9e 1rem,
    blue 1rem,
    blue 2rem
  );
  background-size: 200% 200%;
  animation: barberpole 20s linear infinite;
  height: 100%;
}

.answer-container-right {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.vote {
  width: 10%;
  background: none;
  color: inherit;
  border: 3px solid black;
  margin: 5px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.voted {
  background-image: url('../images/vote.svg');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

div {
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
