// bootstrap
@import '~bootstrap/scss/bootstrap';

// components
@import './components/baseStyles';
@import './components/forms';
@import './components/siteNavBar';
@import './components/questions';
@import './components/addQuestion';
@import './components/profile';
@import './components/hero';
@import './components/carousel';
@import './components/answer';
@import './components/home';
@import './components/buttons';

* {
  box-sizing: border-box;
}

.main {
  padding: 30px;
}

.list-group-item {
  border-radius: 30px;
  margin: 10px;
}
