// bootstrap
@import '~bootstrap/scss/bootstrap';

// components
@import './components/forms';
@import './components/siteNavBar';

* {
  box-sizing: border-box;
}

.home-heading-container {
  display: flex;
}

.home-header {
  color: blue;
}
